.marker {
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.start {
  background-image: url('start.svg');
}

.waypoint {
  background-image: url('waypoint.svg');
  width: 12px;
  height: 12px;
}

.finish {
  background-image: url('finish.svg');
}

.location {
  background-image: url('location.svg');
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
